
h2 {
	color: black;
	font: georgia;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
}

p {	
	text-align: center;
	font-size: 60px;
	font-variant: small-caps;
	color: black;
}

img {
	border-style: solid;
    border-width: 8px;
    border-color: black;
	display: block;
    margin: 0 auto;
}

html {
	background-color: rgb(70,130,180);
}