html{
	background-color: rgb(70,130,180);
	border-style: solid;
	border-color: black;
	border-width: 16px;

}

h2 {
	text-align: center;
	font-size: 75px;
	font-variant: small-caps;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h3{
	font-size: 40px;
	font-variant: small-caps;
}