h2 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	text-align: center;
}

p {	text-align: center;
	font-size: 40px;
}

img {
	display: block;
    margin: 0 auto;
}


body { background: -webkit-linear-gradient(top, rgba(109,179,242,1) 
0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); }